<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' or page.url == site.baseurl or page.url == site.baseurl | append: '/' %} active{% endif %}" href="{{ site.baseurl }}/">首页</a>

      {% comment %}
        Manually ordered navigation items
      {% endcomment %}
      
      {% assign ordered_pages = "小项目,古文字&五笔,旅游,语言,联系我" | split: "," %}
      {% for page_title in ordered_pages %}
        {% for node in site.pages %}
          {% if node.title == page_title and node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
